# 01 - Ecommerce: Pre Processing the data

In [1]:
import numpy as np 
import pandas as pd

In [19]:
df = pd.read_csv('C:/Users/dubek/Downloads/New folder/ecommerce_data.csv')
df

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2
5,1,1,0.512447,1,1,2
6,0,0,1.440327,1,1,0
7,1,0,0.035260,0,3,0
8,0,1,1.490764,0,0,1
9,0,0,0.005838,1,3,0
10,0,4,2.046040,1,0,3
11,0,0,0.955889,0,3,0
12,1,0,0.159378,0,0,0
13,1,2,0.769272,0,3,1
14,0,0,0.226271,1,3,0
15,1,3,0.988229,1,2,3
16,1,2,0.160583,0,0,1
17,1,3,0.115030,1,2,1
18,0,1,0.483714,1,1,1
19,0,0,0.182401,0,3,0
20,1,2,0.271693,1,1,2
21,0,0,0.296118,0,0,0
22,1,0,0.996240,0,3,0
23,0,2,1.945357,1,0,3
24,0,0,0.029363,0,2,0
25,0,1,0.087355,1,3,1
26,0,0,1.908166,1,1,0
27,0,2,0.119630,0,3,0
28,1,3,0.100013,0,1,2
29,1,3,0.707463,0,0,2
...,...,...,...,...,...,...
470,0,0,0.032371,0,0,0
471,1,0,0.625509,0,0,0
472,1,1,1.829021,1,2,2
473,1,0,1.835421,0,2,0
474,1,1,1.999635,0,3,2
475,0,0,0.779601,0,0,0
476,1,2,1.272727,1,0,3
477,0,0,1.387943,1,0,0
478,0,1,0.143232,0,2,0
479,0,0,0.083886,1,3,0
480,0,0,1.480493,0,2,0
481,0,0,1.026237,1,0,0
482,1,2,0.880461,0,1,2
483,0,1,1.815090,0,0,2
484,1,2,0.351077,1,3,1
485,0,3,0.043366,0,0,1
486,0,3,0.021637,1,0,1
487,1,0,0.182413,0,3,0
488,0,1,1.035583,1,0,1
489,0,1,0.453308,1,2,1
490,1,3,0.978725,1,1,3
491,1,0,0.233267,1,3,0
492,0,0,0.666865,1,2,0
493,0,0,2.037393,0,2,0
494,1,1,1.601178,1,1,2
495,1,3,0.731594,0,0,2
496,0,0,6.368775,1,3,0
497,0,0,0.172853,1,3,0
498,1,0,0.209964,0,3,0
499,0,0,2.616882,1,3,0

In [5]:
df.head()

,is_mobile,n_products_viewed,visit_duration,is_returning_visitor,time_of_day,user_action
0,1,0,0.657510,0,3,0
1,1,1,0.568571,0,2,1
2,1,0,0.042246,1,1,0
3,1,1,1.659793,1,1,2
4,0,1,2.014745,1,1,2

In [22]:
def get_data():
    df = pd.read_csv('C:/Users/dubek/Downloads/New folder/ecommerce_data.csv')
    data = df.as_matrix()
    
    #Slicing the data
    X = data[:,:-1]
    Y = data[:,-1]
    
    #normalising the numerical coloumns
    X[:,1] = (X[:,1] - X[:,1].mean()) / X[:,1].std()
    X[:,2] = (X[:,2] - X[:,2].mean()) / X[:,2].std()
    
    #Working on categorical coloumn
    N,D = X.shape
    #D+3 because there are four categories
    X2 = np.zeros((N,D+3))
    #Arranging the non categorical data
    X2[:,0:(D-1)] = X[:,0:(D-1)]
    
    #Arranging the categorical data
    for n in range(N):
        t = int(X[n,D-1])
        X2[n,t+D-1] = 1
        
    X = X2

    # split train and test
    Xtrain = X[:-100]
    Ytrain = Y[:-100]
    Xtest = X[-100:]
    Ytest = Y[-100:]
    return Xtrain, Ytrain, Xtest, Ytest

#Return only the data from the first 2 classes
def get_binary_data():
    Xtrain, Ytrain, Xtest, Ytest = get_data()
    X2train = Xtrain[Ytrain <= 1]
    Y2train = Ytrain[Ytrain <= 1]
    X2test = Xtest[Ytest <= 1]
    Y2test = Ytest[Ytest <= 1]
    return X2train, Y2train, X2test, Y2test